<div id="main-container" class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1 class="page-heading">Contribute to GeoData@Wisconsin</h1>
      
	  <h3>How to Contribute Your Data</h3>
	  
	  <p>The Robinson Map Library collects, curates and archives geospatial data for the state of Wisconsin. Additional contributions of geographic content are always welcome!  We are interested in knowing about existing data that should be included in the geoportal.  If you publish an ArcGIS Open Data site and are interested in having your content discoverable via GeoData@Wisconsin, please contact us with your site URL.</p>
      
	  <p>Contact <u><a href="mailto:jmartindale@wisc.edu">Jaime Martindale</a></u> with inquiries or suggestions for data, maps, or other resources that may be considered for inclusion in GeoData@Wisconsin.</p>
      
	  <h3>Guidance for ArcGIS Open Data Publishers</h3>
	  <p></p>      
	  <p>All known ArcGIS Open Data sites managed by Wisconsin agencies and organizations are indexed and made discoverable in GeoData@Wisconsin. We have automated procedures in place to periodically visit these sites, and add them to our <u><a href="/?f%5Bdct_isPartOf_sm%5D%5B%5D=Wisconsin+Open+Data+Sites&q=&search_field=all_fields">Wisconsin Open Data Sites Collection</a></u>. Below we offer some tips on maximizing the discoverabilty and usability of your data in GeoData@Wisconsin.</p> 
 
	  <h5>1. Use at least one tag from our recommended list when adding items to ArcGIS Online (AGOL)</h5>
	  
	  <p>When uploading a new hosted data layer to AGOL, or connecting an AGOL item to a dataset on your in-house ArcGIS Server, we recommend you pick <em>at least</em> one tag from our list below. Use the tag exactly as you see it listed, paying close attention to the text case. You of course can add as many additional tags as needed to support your organization's mission.  The order of the tags does not matter.</p>
		 <%= image_tag("dpitags.png", alt: "Example of tags for a data layer in AGOL", class: "float-right img-thumbnail ml-4") %>
		 
	  <p>Why? Using a consistent tagging scheme like this improves the ability of users to browse and find data both in GeoData@Wisconsin, and your own geoportal.</p>
	

	 
	  <p>If you are familiar with <u><a href="https://apps.usgs.gov/thesaurus/thesaurus-full.php?thcode=15" target="_blank">ISO Topic Categories</a></u>, you may notice our recommended tags deviate slightly from the <u><a href="https://www.fgdc.gov/metadata/iso-standards" target="_blank">ISO 19115 standard</a></u>.  Our recommendations are designed to be: 1) workable as tags in ArcGIS Online, which has limitations on the use of commas; 2) more easily read in plain English.</p>

	  <h5>2. Consistency is important when tagging items in AGOL</h5>
	
	  <p>Browse through your own geoportal.  Do you find slight variations of the same intended tag? (e.g., "Parcel" vs "parcels" vs "Land Parcels," etc.) We find this is very common!  Librarians use  <a href="https://en.wikipedia.org/wiki/Controlled_vocabulary" target="_blank">controlled vocabularies</a> as a strategy to ensure consistency when tagging datasets. The aim of a controlled vocabulary is to ensure that users experience consistent and predictable search results. When this is achieved, users become more successful in the data discovery process and develop trust with the geoportal as a helpful resource. </p>
	
	<h5>3. Check the bounding coordinates (envelope) of your data</h5>
	
	
	  <h5>4. Creating minimal metadata is easy, and important for users</h5>
	
	  <p>Taking time to add <em>at least</em> the following metadata entries in ArcCatalog when describing a dataset or service will help users determine if the data is right for their purpose/use:</p>  
<ul>
<li>Title</li>
<li>Tags/Keywords (using controlled vocabularies)</li>
<li>ISO Topic Category - Assigning an ISO Topic Category can be achieved by simply checking the box next to the appropriate category in the “Topics and Keywords” section of the metadata editor.</li>
<li>Summary</li>
<li>Description</li>
<li>Author/Creator</li>
<li>Date(s) of Creation, Revision and/or Publication</li>
<li>Bounding Geographic Extent</li>
<li>Coordinate System/Projection</li>
</ul>	
</p>
	  

	<h3>Recommended ArcGIS Online Tags</h3>
	<p></p>
	<div class="table-responsive-md">
	<table class="table">
		<thead class="thead-light" >
			<tr>
				<th scope="col" class="font-weight-bold" style="width: 25%;">Tag</th>
				<th scope="col" class="font-weight-bold">Examples</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td  class="font-weight-bold">Atmospheric Sciences</td>
				<td>Processes and phenomena of the atmosphere, for example cloud cover, weather, climate, atmospheric conditions, climate change, precipitation</td>
			</tr>
			<tr>
				<td class="font-weight-bold">Biota</td>
				<td>Flora or fauna in natural environment, for example wildlife, vegetation, biological sciences, ecology, wilderness, sea life, wetlands, habitat, biological resources</td>
			</tr>
			<tr>
				<td class="font-weight-bold">Boundaries</td>
				<td>Legal land descriptions, for example political and administrative boundaries, governmental units, marine boundaries, voting districts, school districts, international boundaries</td>
			</tr>
			<tr>
				<td class="font-weight-bold">Economy</td>
				<td>Economic activities, conditions, and employment, for example production, labor, revenue, business, commerce, industry, tourism and ecotourism, forestry, fisheries, commercial or subsistence hunting, exploration and exploitation of resources such as minerals, oil and gas</td>
			</tr>
			<tr>
				<td class="font-weight-bold">Elevation</td>
				<td>Height above or below sea level, for example altitude, bathymetry, digital elevation models, slope, derived products, DEMs, TINs</td>
			</tr>
			<tr>
				<td class="font-weight-bold">Environment</td>
				<td>Environmental resources, protection and conservation, for example environmental pollution, waste storage and treatment, environmental impact assessment, monitoring environmental risk, nature reserves, landscape, water quality, air quality, environmental modeling</td>
			</tr>
			<tr>
				<td class="font-weight-bold">Farming</td>
				<td>Rearing of animals or cultivation of plants, for example agriculture, irrigation, aquaculture, plantations, herding, pests and diseases affecting crops and livestock</td>
			</tr>
			<tr>
				<td class="font-weight-bold">Geoscientific Information</td>
				<td>Information pertaining to earth sciences, for example geophysical features and processes, geology, minerals, sciences dealing with the composition, structure and origin of the earth's rocks, risks of earthquakes, volcanic activity, landslides, gravity information, soils, permafrost, hydrogeology, groundwater, erosion</td>
			</tr>
			<tr>
				<td class="font-weight-bold">Health</td>
				<td>Health, health services, human ecology, and safety, for example disease and illness, factors affecting health, hygiene, substance abuse, mental and physical health, health services, health care providers, public health</td>
			</tr>
			<tr>
				<td class="font-weight-bold">Imagery and Base Maps</td>
				<td>Base maps, for example land/earth cover, topographic maps, imagery, unclassified images, annotations, digital ortho imagery</td>
			</tr>
			<tr>
				<td class="font-weight-bold">Inland Waters</td>
				<td>Inland water features, drainage systems and characteristics, for example rivers and glaciers, salt lakes, water utilization plans, dams, currents, floods and flood hazards, water quality, hydrographic charts, watersheds, wetlands, hydrography</td>
			</tr>
			<tr>
				<td class="font-weight-bold">Intelligence and Military</td>
				<td>Military bases, structures, activities, for example barracks, training grounds, military transportation, information collection</td>
			</tr>
			<tr>
				<td class="font-weight-bold">Location</td>
				<td>Positional information and services, for example addresses, geodetic networks, geodetic control points, postal zones and services, place names, geographic names</td>
			</tr>
			<tr>
				<td class="font-weight-bold">Oceans</td>
				<td>Features and characteristics of salt water bodies (excluding inland waters), for example tides, tidal waves, coastal information, reefs, maritime, outer continental shelf submerged lands, shoreline</td>
			</tr>
			<tr>
				<td class="font-weight-bold">Planning and Cadastral</td>
				<td>Information used for appropriate actions for future use of the land, for example land use maps, zoning maps, cadastral surveys, land ownership, parcels, easements, tax maps, federal land ownership status, public land conveyance records</td>
			</tr>
			<tr>
				<td class="font-weight-bold">Society</td>
				<td>Characteristics of society and culture, for example settlements, housing, anthropology, archaeology, education, traditional beliefs, manners and customs, demographic data, tourism, recreational areas and activities, parks, recreational trails, historical sites, cultural resources, social impact assessments, crime and justice, law enforcement, census information, immigration, ethnicity</td>
			</tr>
			<tr>
				<td class="font-weight-bold">Structure</td>
				<td>Man-made construction, for example buildings, museums, churches, factories, housing, monuments, shops, towers, building footprints, architectural and structural plans</td>
			</tr>
			<tr>
				<td class="font-weight-bold">Transportation</td>
				<td>Means and aids for conveying persons or goods, for example roads, airports/airstrips, shipping routes, tunnels nautical charts, vehicle or vessel location, aeronautical charts, railways</td>
			</tr>
			<tr>
				<td class="font-weight-bold">Utilities and Communication</td>
				<td>Energy, water and waste systems and communications infrastructure and services, for example hydroelectricity, geothermal, solar and nuclear sources of energy, water purification and distribution, sewage collection and disposal, electricity and gas distribution, data communication, telecommunication, radio, communication networks</td>
			</tr>
		
		</tbody>
	</table>
	</div>
  
    </div>
  </div>
</div>
