<h2>URI Analysis CSV Report / <%= DateTime.now.to_formatted_s(:long) %></h2>
<p>Report URL:</p>
<p><%= "http://geodata.wisc.edu/#{@report.split('/public/')[1]}" %></p>
<p>Twice per month, every solr document uri object in the database is purged and recreated. Each new URI is processed to determine whether the URI is good or bad. That state is captured in the database and after all URIs are processed, we generate this CSV report of how the URI analysis performed.</p>
<hr/>
    