<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>URI Analysis CSV Report / <%= DateTime.now.to_formatted_s(:long) %></h2>
    <p>Report URL:</p>
    <p>
      <%= "http://geodata.wisc.edu/#{@report.split('/public/')[1]}" %>
    </p>
  </body>
</html>
