<tr class="index-map-info document-metadata">
  <td>{{#if title}}{{title}}{{/if}}</td>
  <td>{{#if websiteUrl}}<a href="{{websiteUrl}}" class="btn btn-secondary">Website</a>{{/if}}</td>
  <td>{{#if downloadUrl}}<a href="{{downloadUrl}}" class="btn btn-secondary">Download</a>{{/if}}</td>
  <td>{{#if label}}{{label}}{{/if}}</td>
</tr>
